<h1>Welcome to Gamer History</h1>
<h2>Please login to continue.</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input id="username" type="text" formControlName="username" />
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" />
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

@if(loading) {
  <div class="spinner-container">
    <div class="spinner"></div>
    <p>Logging in...</p>
  </div>
}

@if(errorMessage) {
  <div class="error-message">
    {{errorMessage}}
  </div>
}

