.table-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

div {
  width: 95%;
  padding: 15px;
  background-color: #1e1e1e;
  border: 2px solid #aaa;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 0;
}

h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #e11e52;
  text-shadow: 0 0 10px #e11e52;
  margin-top: 0;
  margin-bottom: 10px;

}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border: 2px solid #aaa;
  color: white;
}

table thead {
  background-color: #e11e52;
  color: white;
}

table th {
  padding: 12px;
  font-weight: bold;
  text-align: left;
}

table tbody tr {
  transition: background-color 0.3s;
}

table td {
  padding: 10px;
}

.even {
  background-color: #282828;
}

.odd {
  background-color: #464646;
}

table tbody tr:hover {
  background-color: #646464;
}

div.support-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  color: #e11e52;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #323232;
  border: 2px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  color: white;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: white;
  font-family: Arial, sans-serif;
}

.spinner {
  border: 4px solid #e11e52;
  border-radius: 60%;
  width: 20px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

