.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  color: #e11e52;
  border: 2px solid #aaa;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  margin: 0 0 20px;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 10px #e11e52;
}

.sidebar h3 {
  margin: 0 0 20px;
  font-family: Arial, sans-serif;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #e11e52;
  font-family: Arial, sans-serif;
  text-decoration: none;
  display: block;
  padding: 10px;
  border: none;
  background: none;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar ul li button {
  width: 100%;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li button:hover {
  background-color: #ff5084;
}

.main-content {
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  overflow-y: auto;
}

.role-name {
  color: #00ffff;
}
